/.mxproject
/.project
/.cproject
/STM32F411RETX_FLASH.ld
/STM32F411RETX_RAM.ld
/Drivers/**
/Middlewares/**
/USB_DEVICE/**
/Debug/**
/.settings/**
/Core/Startup/**
/Core/Inc/stm32f4xx_hal_conf.h
/Core/Inc/stm32f4xx_it.h